@using Microsoft.AspNetCore.Components.Routing

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not Found</PageTitle>
        <LayoutView Layout="@typeof(Layout.MainLayout)">
            <div class="error-container">
                <h1>404 - Page Not Found</h1>
                <p>Sorry, we couldn't find the page you're looking for.</p>
                <a href="/" class="btn btn-primary">Go to Home</a>
            </div>
        </LayoutView>
    </NotFound>
</Router>
